.demo-table {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.odd-tier {
  background-color: lightblue; /* Set the background color for odd tiers */
}

/* CSS for Even Tiers */
.even-tier {
  background-color: lightgreen; /* Set the background color for even tiers */

}

tr.draftboard-row {
  height: calc(60vh/20);
}

tr.draftboard-row:hover {
  background: #777;
  cursor:pointer;
}
