<div class="row">
  <div class="column">
    <mat-card class="example-card">
      <mat-card-title>Available</mat-card-title>
    </mat-card>
    <app-available-board></app-available-board>
  </div>
  <div class="column">
    <mat-card class="example-card">
      <mat-card-title>Simple card</mat-card-title>
    </mat-card>
    afawaqwfafalkjbf
  </div>
  <div class="column">
    <mat-card class="example-card">
      <mat-card-title>Drafted</mat-card-title>
    </mat-card>
    <app-selected-board></app-selected-board>
  </div>
</div>
